<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <!-- Name of the context. Very handy to avoid log hijacking -->
    <contextName>mikeensor</contextName>

    <!-- Enable JMX configuration -->
    <!--<jmxConfigurator/>-->

    <!--<property name="logLevel" type="java.lang.String"/>-->
    <!--<property name="thirdPartyLevel" value="INFO"/>-->
    <!--<property name="logBaseDir" value="target/logs"/>-->

    <!-- Get logging levels from JNDI. There is a default for this in case none is defined. -->
    <insertFromJNDI env-entry-name="param/logging/level" as="logLevel"/>
    <insertFromJNDI env-entry-name="param/logging/thirdPartyLevel" as="thirdPartyLogLevel"/>
    <insertFromJNDI env-entry-name="param/logging/baseDir" as="logBaseDir"/>

    <!-- Defines the format for log entries. -->
    <property name="logEntryFormat" value="%-12date{HH:mm:ss.SSS}  %-5level  %-40logger{40} -> %msg%n"/>
    <property name="logBase" value="target/application"/>

    <!-- com.dynacrongroup.* log file -->
    <property name="logFileBase" value="${logBase}/application"/>
    <appender name="applicationAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${logEntryFormat}</pattern>
        </encoder>
    </appender>

    <logger name="com.clickconcepts" level="${logLevel:-info}" additivity="false">
        <appender-ref ref="applicationAppender"/>
    </logger>

    <logger name="org.springframework" level="${thirdPartyLogLevel:-info}" additivity="false">
        <appender-ref ref="applicationAppender"/>
    </logger>

</configuration>